{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'barberhouse/css/hoja1.css'%}">
    <title>barberhouse</title>
</head>
<body>
    <h1>
        Bienvenido a barberhouse
    </h1>
    <p>lorem</p>
    <br/>
    

    <script src="{% static 'barberhouse/js/funciones.js'%}"></script>
</body>
</html>